<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ProcessLoginServlet</servlet-name>
        <servlet-class>servlets.ProcessLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListItemsServlet</servlet-name>
        <servlet-class>servlets.ListItemsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookmarkServlet</servlet-name>
        <servlet-class>servlets.BookmarkServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckBookmarkServlet</servlet-name>
        <servlet-class>servlets.CheckBookmarkServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetItemTypeServlet</servlet-name>
        <servlet-class>servlets.GetItemTypeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProcessLoginServlet</servlet-name>
        <url-pattern>/ProcessLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListItemsServlet</servlet-name>
        <url-pattern>/ListItemsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookmarkServlet</servlet-name>
        <url-pattern>/BookmarkServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckBookmarkServlet</servlet-name>
        <url-pattern>/CheckBookmarkServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetItemTypeServlet</servlet-name>
        <url-pattern>/GetItemTypeServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
