/ITECH3217_Assignment2-ejb/nbproject/private/
/ITECH3217_Assignment2-war/nbproject/private/
/nbproject/private/
/ITECH3217_Assignment2-ejb/build/
/ITECH3217_Assignment2-ejb/dist/
/ITECH3217_Assignment2-war/build/
/build/
/ITECH3217_Assignment2-war/dist/
/dist/